@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea, input { outline: none; }


body {
  background: #EDF1F5;
  margin: 0;
  font-family: "Poppins";
  min-height: 100vh;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-top: 40px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60vh;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
}

form button {
  background: #1aac83;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}


div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

.chat-page {
  height: 85vh;
  background-color: #e4eff1;
  width: 80vw;
  margin: 0 auto;
}

#chat-header {
  background-color: #c9cbcb;
  margin: 10px auto;
  margin-top: 0;
  text-align: center;
  width: 80%;
  padding: 10px 0;
  border: 1px solid #c9cbcb;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

.chat-page .chatbox {
  height: 90%;
}

.chat-page .send-message form input {
  width: 85%;
  margin: 0 auto
}

.chat-page .send-message form {
  display: flex;
}

.chat-page .send-message form button {
  margin: auto;
  width: 10%;
}

.chat-page .chatbox {
  overflow: auto;
}

.chat-page .chatbox::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chat-page .chatbox::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
.chat-page .chatbox::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
.chat-page .chatbox::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
.chat-page .chatbox::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}

.chat-page .chatbox .user {
  text-align: right;
  justify-content: right;
  margin-right: 10px;
}

.chat-page .chatbox .chatter {
  justify-content: left;
  margin-left: 10px;
}

.chat-page .chatbox .message {
  display: flex;
}

.chat-page .chatbox .message p {
  max-width: 400px;
  min-height: 10%;
  background-color: #8be5f5;
  padding: 5px 15px;
  border: 1px solid #8be5f5;
  border-radius: 10px;
  word-wrap: break-word;
}
